/* src/components/Hobbies/Hobbies.module.css */

.hobbiesContainer {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #809fa9;
}

.hobbiesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.hobby {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    gap: 2rem;
}

.hobbyReverse {
    flex-direction: row-reverse;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Supprimer la largeur et la hauteur fixes pour permettre la flexibilité */
    /* width: 260px;
    height: 260px; */
    max-width: 300px; /* Optionnel : Limiter la largeur maximale */
    width: 100%;
}

.softSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
    width: 100%;
    justify-items: center;
    margin-top: 2rem;
}

.icon {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
}

.hobbyText {
    flex: 1;
    text-align: left;
}

.hobbyText h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #809fa9;
}

.hobbyText p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #809fa9;
}

/* Responsivité */
@media (max-width: 768px) {
    .hobby {
        flex-direction: column;
        text-align: center;
    }

    .hobbyReverse {
        flex-direction: column;
    }

    .hobbyText {
        text-align: center;
    }

    .iconContainer {
        max-width: 100%;
    }

    .softSkills {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 0.4rem;
    }

    .icon {
        width: 200px;
        height: 200px;
    }
}
