.shapes-container {
    position: absolute; /* Pour superposer le fond sur le contenu */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permettre les interactions avec le contenu au-dessus */
}

.shape {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);

}
