/* Contact.css */
.contact {
    padding: 60px 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 700px;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-address {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-address p {
    margin: 0;
    font-size: 1em;
    color: #333;
    flex: 1; /* Permet à l'email de prendre tout l'espace disponible à gauche */
}

.copy-icon {
    cursor: pointer;
    font-size: 1.2em;
    color: #000;
    transition: color 0.3s;
}

.copy-icon:hover {
    color: #333;
}

.copy-message {
    margin-top: 10px;
    color: #17b01e;
    font-size: 1em;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #000;
    outline: none;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}
