@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.hero {
    background: url('../assets/images/background.webp') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    height: 100%;
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 5em;
    margin-bottom: 20px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

